* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  height: 100vh;
  color: white;
  background-color: black;
  margin: auto;
}

.wrap{
  margin: auto;
  text-align: center;
}
